.outfit-niche-header {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.niche-navbar {
  background-color: black;
  padding: 1rem;
}

.nav-links {
    display: flex;
    gap: 2rem; 
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-right: 2rem;
}

.nav-links li a {
    color: white !important;
    text-decoration: none;
}

.nav-links li a:visited {
    color: white !important;
}

.nav-links li a:active {
    color: white !important;
}

.nav-links:hover {
    color: rgb(92, 122, 255) !important;
    text-decoration: none;
}

.nav-logo {
    height: 75px;
    margin: 0;
    animation: pulse-glow 15s infinite ease-in-out;
    filter: drop-shadow(0 0 20px #00ff00);
}

@keyframes pulse-glow {
    0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.075);
      }
      50% {
        transform: scale(1.15);
      }
      75% {
        transform: scale(1.075);
      }
      100% {
        transform: scale(1);
  
      }
  }

.niche-button {
    margin: 0;
    font-size: 24px;
    background-color:green;
    border: none;
}

.niche-button:hover {
    filter: drop-shadow(0 0 20px #00ff00);
}

.card-name {
  font-family: "Outfit", sans-serif;
  margin-top: 5px;
}